$tablet: #{rem-calc(768)};
$laptop: #{rem-calc(1024)};
$desktop: #{rem-calc(1366)};

//project
$defaultFontColor: #3F3F3F;
$defaultFontColorLight: #FFFFFF;
$defaultBorderColor: #DCDCDC;
$defaultBorderSize: #{rem-calc(1)};
$defaultFontFamily: 'Roboto', sans-serif;



//forms
$formFieldBorder: #E1D5D5;
$formFieldBackground: #FFFFFF;
$formFontColor: #424242;
$formButtonFontColor: #FFFFFF;
$formBGcolor: rgba(63, 63, 63, 0.6);
$formElementHeight: #{rem-calc(60)};
$formImputPadding: #{rem-calc(15)};
$formButtonColor: #FFDE25;
$formButtonHoverColor:#efb400;
$formBoxShadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

//buttons
$defaultButtonColor:#F16529;
$defaultButtonHoverColor:#d34a0f;
$defaultButtonFontColor: #FFFFFF;
$defaultButtonH: #{rem-calc(60)};
$defaultButtonHsmall: #{rem-calc(32)};

