@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #3F3F3F;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

H1 {
  margin: 0;
  font-weight: 700;
}

H2 {
  margin: 0;
  font-weight: 700;
}

H3 {
  margin: 0;
  font-weight: 700;
}

H4 {
  margin: 0;
  font-weight: 700;
}

H5 {
  margin: 0;
  font-weight: 700;
}

H6 {
  margin: 0;
  font-weight: 700;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  height: 3.75rem;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  background: #FFFFFF;
  border: solid 0.0625rem #E1D5D5;
  font-weight: 700;
  color: #424242;
  text-transform: uppercase;
  padding: 0 0.9375rem;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="submit"] {
  font-weight: 700;
  color: #424242;
  text-transform: uppercase;
  height: calc(3.75rem + (2 * 0.0625rem));
  background-color: #FFDE25;
  color: #FFFFFF;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  height: calc(3.75rem + (2 * 0.0625rem));
  padding: 0 0.9375rem;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #FFDE25;
  color: #FFFFFF;
}

button[type="submit"]:hover {
  background-color: #efb400;
}

:root {
  --headerHeight: 15.625rem;
  --titleHeight: 9.375rem;
  --pageTitleFS: 1.5rem;
  --pageTitleLH: 1.875rem;
  --pagePadding: 0.9375rem;
  --mainWidth: 100%;
  --leadPostsElementW: 100%;
  --leadPostsElementH: 6.25rem;
  --gap: 1.25rem;
  --authorPostsElementW: 100%;
  --authorPostsElementH: 18.0625rem;
  --formBoxW:100%;
  --formBoxH:18.75rem;
  --formGap:0.9375rem;
  --formTitleFontSize:1.5rem;
  --formTitleFontLH:1.8rem;
}

@media only screen and (min-width: 48rem) {
  :root {
    --headerHeight: 18.75rem;
    --pageTitleFS: 2.25rem;
    --pageTitleLH: 2.8125rem;
    --authorPostsElementW: 33.625rem;
    --authorPostsElementH: 10rem;
  }
  .subscrybeForm .callToform {
    margin: 0 auto !important;
    padding: 0  !important;
    position: relative  !important;
    top: unset  !important;
    left: unset  !important;
    z-index: unset  !important;
  }
  .authorsList {
    width: calc(var(--authorPostsElementW) + var(--gap));
    margin-left: auto;
    margin-right: auto;
  }
  .formBox {
    width: var(--formBoxW);
    height: var(--headerHeight) !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 10 !important;
  }
  .formBox form {
    width: 350px !important;
    height: 300px;
    background-color: rgba(63, 63, 63, 0.6);
    height: var(--headerHeight) !important;
    float: right;
    margin-right: var(--pagePadding);
  }
}

@media only screen and (min-width: 85.375rem) {
  :root {
    --headerHeight: 37.5rem;
    --mainWidth: 69.375rem;
    --pagePadding: 0;
    --leadPostsElementW: 21.75rem;
    --leadPostsElementH: 12.375rem;
    --gap: 1.875rem;
    --authorPostsElementW: 33.625rem;
    --authorPostsElementH: 10rem;
    --formTitleFontSize:2.25rem;
    --formTitleFontLH:2.7rem;
  }
  .leadPosts ul li,
  .authorsList ul li {
    margin-right: var(--gap);
    margin-bottom: 0 !important;
  }
  .authorsList {
    width: 100%;
  }
  .formBox form {
    margin-right: 20%;
  }
}

.--t05 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.--border {
  border: solid 0.0625rem #DCDCDC;
}

.header {
  width: 100%;
  height: var(--headerHeight);
  background: url("../images/header.jpg") center center;
  background-size: cover;
}

.main {
  padding: 0 var(--pagePadding);
  max-width: var(--mainWidth);
  margin: 0 auto;
}

.pageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--titleHeight);
  font-size: var(--pageTitleFS);
  font-style: normal;
  font-weight: 700;
  line-height: var(--pageTitleLH);
  letter-spacing: 0em;
  text-align: center;
}

.sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--titleHeight);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: center;
}

.main .leadPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .leadPosts ul li {
  display: block;
  width: var(--leadPostsElementW);
  height: var(--leadPostsElementH);
  margin-bottom: var(--gap);
}

.main .leadPosts ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.main .authorsList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .authorsList ul li {
  display: block;
  width: var(--authorPostsElementW);
  height: var(--authorPostsElementH);
  margin-bottom: var(--gap);
}

.main .authorsList ul li:last-child {
  margin-right: 0;
}

.subscrybeForm .formBox {
  width: var(--formBoxW);
  height: var(--formBoxH);
}

.subscrybeForm .formBox form {
  width: var(--formBoxW);
  height: var(--formBoxH);
  background-color: rgba(63, 63, 63, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.subscrybeForm .formBox form .formTitle {
  width: calc( var(--formBoxW) - ( 2 * var(--formGap)));
  margin-bottom: calc(var(--formGap) * 2);
}

.subscrybeForm .formBox form input[type="text"] {
  width: calc( var(--formBoxW) - ( 2 * var(--formGap)) - ( 2 * 0.9375rem));
  margin-bottom: var(--formGap);
}

.subscrybeForm .formBox form button[type="submit"] {
  width: calc( var(--formBoxW) - ( 2 * var(--formGap)) + ( 2 * 0.0625rem));
  margin-bottom: var(--formGap);
}

.subscrybeForm .formBox form .formTitle {
  color: #FFFFFF;
  text-align: center;
  font-size: var(--formTitleFontSize);
  line-height: var(--formTitleFontLH);
  font-weight: 700;
}

.subscrybeForm .callToform {
  width: 100%;
  height: 50px;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(var(--headerHeight) - 50px);
  left: 0;
  z-index: 100;
}

.footer {
  width: 100%;
  height: 120px;
  background: gray;
}
/*# sourceMappingURL=main.css.map */