@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #3F3F3F;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.25rem;
}

a {
  color: #3F3F3F;
}

a:hover {
  color: #000000;
}

figure {
  margin: 0;
  padding: 0;
  display: inline-block;
}

H1 {
  margin: 0;
  font-weight: 700;
}

H2 {
  margin: 0;
  font-weight: 700;
}

H3 {
  margin: 0;
  font-weight: 700;
}

H4 {
  margin: 0;
  font-weight: 700;
}

H5 {
  margin: 0;
  font-weight: 700;
}

H6 {
  margin: 0;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.54875rem;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  height: 3.75rem;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  background: #FFFFFF;
  border: solid 0.0625rem #E1D5D5;
  font-weight: 700;
  color: #424242;
  text-transform: uppercase;
  padding: 0 0.9375rem;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="submit"] {
  font-weight: 700;
  color: #424242;
  text-transform: uppercase;
  height: calc(3.75rem + (2 * 0.0625rem));
  background-color: #FFDE25;
  color: #FFFFFF;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  height: 3.75rem;
  padding: 0 0.9375rem;
  cursor: pointer;
  background-color: #F16529;
  color: #FFFFFF;
}

button:hover {
  background-color: #d34a0f;
}

button[type="submit"] {
  background-color: #FFDE25;
  color: #FFFFFF;
}

button[type="submit"]:hover {
  background-color: #efb400;
}

:root {
  --headerHeight: 15.625rem;
  --titleHeight: 9.375rem;
  --pageTitleFS: 1.5rem;
  --pageTitleLH: 1.875rem;
  --pagePadding: 0.9375rem;
  --mainWidth: 100%;
  --leadPostsElementW: 100%;
  --leadPostsElementH: 6.25rem;
  --leadPostsHlineMargin: 0.9375rem;
  --gap: 1.25rem;
  --authorPostsElementW: 100%;
  --authorPostsElementH: 18.0625rem;
  --authorPostsHlineMargin: 0.9375rem;
  --authorPostsImgContainerW: 9.375rem;
  --authorPostsImgWH: 6.25rem;
  --formBoxW: 100%;
  --formBoxH: 18.75rem;
  --formGap: 0.9375rem;
  --formTitleFontSize: 1.5rem;
  --formTitleFontLH: 1.8rem;
  --callToFormButtonW: 18.75rem;
  --callToFormButtonH: 2rem;
  --tagListMarginT: 3.125rem;
  --tagListMarginB: 3.125rem;
  --tagListGap: 1.875rem;
}

.--t05 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.--border {
  border: solid 0.0625rem #DCDCDC;
}

.--hide {
  display: none;
}

.--disableScroll {
  overflow: hidden;
}

@media only screen and (max-width: 48rem) {
  :root {
    --leadPostsArrowSize: 2.125rem;
    --authorPostsImgContainerW: 100%;
  }
  .leadPosts ul li::after {
    content: "";
    border-bottom: unset;
    border-top: var(--leadPostsArrowSize) solid #1699d3;
    border-left: var(--leadPostsArrowSize) solid transparent;
    border-right: var(--leadPostsArrowSize) solid transparent;
    right: calc(50% - var(--leadPostsArrowSize));
    bottom: calc(-1 * var(--leadPostsArrowSize));
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .authorsList ul li {
    display: block;
  }
  .authorsList ul li figure {
    margin: var(--gap) auto;
  }
  .authorsList ul li .thePost {
    text-align: center;
    padding: 0 var(--gap);
  }
}

@media only screen and (min-width: 48rem) {
  :root {
    --headerHeight: 18.75rem;
    --pageTitleFS: 2.25rem;
    --pageTitleLH: 2.8125rem;
    --authorPostsElementW: 33.625rem;
    --authorPostsElementH: 10rem;
    --formBoxW: 20.625rem;
    --callToFormButtonW: 33.75rem;
    --callToFormButtonH: 3.75rem;
    --tagListMarginT: 3.125rem;
    --tagListMarginB: 4.6875rem;
    --tagListGap: unset;
    --footerCaptionW: 33.75rem;
    --leadPostsArrowSize: 2.75rem;
  }
  .leadPosts ul li::after {
    content: "";
    border-bottom: unset;
    border-top: var(--leadPostsArrowSize) solid #1699d3;
    border-left: var(--leadPostsArrowSize) solid transparent;
    border-right: var(--leadPostsArrowSize) solid transparent;
    right: 1.4375rem;
    bottom: calc(-1 * var(--leadPostsArrowSize));
  }
  .authorsList {
    width: var(--authorPostsElementW);
    margin-left: auto;
    margin-right: auto;
  }
  .authorsList ul li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .authorsList ul li figure {
    width: 100%;
  }
  .subscrybeForm .callToform {
    margin: 0 auto !important;
    padding: 0 !important;
    position: relative !important;
    top: unset !important;
    left: unset !important;
    z-index: unset !important;
  }
  .formBox {
    width: var(--formBoxW);
    height: var(--headerHeight) !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 10 !important;
  }
  .formBox form {
    width: var(--formBoxW) !important;
    background-color: rgba(63, 63, 63, 0.6);
    height: var(--headerHeight) !important;
    float: right;
    margin-right: var(--pagePadding);
  }
  .callToform {
    max-width: var(--callToFormButtonW);
  }
  .callToform button {
    width: 100% !important;
    max-width: unset !important;
  }
  .footer .pageList {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.875rem;
  }
  .footer .pageList a {
    width: unset !important;
    line-height: 3rem;
  }
  .footer .footerCaption {
    max-width: var(--footerCaptionW);
    margin: auto;
    padding-bottom: var(--pagePadding);
  }
}

@media only screen and (min-width: 85.375rem) {
  :root {
    --headerHeight: 37.5rem;
    --mainWidth: 69.375rem;
    --pagePadding: 0;
    --leadPostsElementW: 31%;
    --leadPostsArrowSize: 3.375rem;
    --leadPostsElementH: 12.375rem;
    --gap: 1.875rem;
    --authorPostsElementW: 48%;
    --authorPostsElementH: 10rem;
    --formTitleFontSize: 2.25rem;
    --formTitleFontLH: 2.7rem;
    --formBoxW: 21.875rem;
    --auhtorListBottomSpace: 5.375rem;
    --tagListMarginT: 6.25rem;
    --tagListMarginB: 3.125rem;
  }
  .leadPosts ul li::after {
    content: "";
    border-right: unset;
    border-left: var(--leadPostsArrowSize) solid #1699d3;
    border-top: var(--leadPostsArrowSize) solid transparent;
    border-bottom: var(--leadPostsArrowSize) solid transparent;
    right: calc(-1 * var(--leadPostsArrowSize));
    bottom: unset;
    -webkit-transition: unset;
    transition: unset;
  }
  .leadPosts ul li,
  .authorsList ul li {
    margin-bottom: 0 !important;
  }
  .authorsList {
    width: 100%;
    margin-bottom: var(--auhtorListBottomSpace);
  }
  .formBox form {
    margin-right: 20%;
    width: var(--formBoxW) !important;
  }
  .footer .footerCaption {
    max-width: var(--mainWidth);
  }
}

.header {
  width: 100%;
  height: var(--headerHeight);
  background: url("../images/header.jpg") center center;
  background-size: cover;
}

.main {
  padding: 0 var(--pagePadding);
  max-width: var(--mainWidth);
  margin: 0 auto;
}

.pageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--titleHeight);
  font-size: var(--pageTitleFS);
  font-style: normal;
  font-weight: 700;
  line-height: var(--pageTitleLH);
  letter-spacing: 0em;
  text-align: center;
}

.sectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--titleHeight);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0em;
  text-align: center;
}

.leadPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leadPosts ul li {
  width: var(--leadPostsElementW);
  min-height: var(--leadPostsElementH);
  margin-bottom: var(--gap);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leadPosts ul li .theNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 6.625rem;
  padding: 0 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leadPosts ul li .thePost h3 {
  margin-bottom: var(--leadPostsHlineMargin);
}

.leadPosts ul li::after {
  content: "";
  display: inline-block !important;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 50;
}

.leadPosts ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.leadPosts ul li:last-child::after {
  content: none;
}

.authorsList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorsList ul li {
  width: var(--authorPostsElementW);
  min-height: var(--authorPostsElementH);
  margin-bottom: var(--gap);
}

.authorsList ul li:last-child {
  margin-right: 0;
}

.authorsList ul li figure {
  min-width: var(--authorPostsImgContainerW);
  text-align: center;
}

.authorsList ul li figure img {
  width: var(--authorPostsImgWH);
  height: var(--authorPostsImgWH);
  border-radius: calc(var(--authorPostsImgWH) / 2);
}

.authorsList ul li .thePost h3 {
  margin-bottom: var(--authorPostsHlineMargin);
}

.subscrybeForm .formBox {
  width: var(--formBoxW);
  height: var(--formBoxH);
}

.subscrybeForm .formBox form {
  width: var(--formBoxW);
  height: var(--formBoxH);
  background-color: rgba(63, 63, 63, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.subscrybeForm .formBox form .formTitle {
  width: calc(var(--formBoxW) - (2 * var(--formGap)));
  margin-bottom: calc(var(--formGap) * 2);
}

.subscrybeForm .formBox form input[type="text"] {
  width: calc(var(--formBoxW) - (2 * var(--formGap)) - (2 * 0.9375rem));
  margin-bottom: var(--formGap);
}

.subscrybeForm .formBox form button[type="submit"] {
  width: calc(var(--formBoxW) - (2 * var(--formGap)) + (2 * 0.0625rem));
  margin-bottom: var(--formGap);
}

.subscrybeForm .formBox form .formTitle {
  color: #FFFFFF;
  text-align: center;
  font-size: var(--formTitleFontSize);
  line-height: var(--formTitleFontLH);
  font-weight: 700;
}

.subscrybeForm .callToform {
  width: 100%;
  height: var(--callToFormButtonH);
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(var(--headerHeight) - var(--callToFormButtonH) - var(--pagePadding));
  left: 0;
  z-index: 100;
  text-align: center;
}

.subscrybeForm .callToform button {
  height: var(--callToFormButtonH);
  width: 90%;
  max-width: 15.625rem;
}

.tagList {
  margin-top: var(--tagListMarginT);
  margin-bottom: var(--tagListMarginB);
}

.tagList ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: var(--tagListGap);
}

.tagList ul li {
  display: block;
  width: 6.3125rem;
  height: 5.625rem;
}

.tagList ul li.icon {
  background-position: top center;
  background-repeat: no-repeat;
}

.tagList ul li.icon--www {
  background-image: url("../images/icons/www.png");
}

.tagList ul li.icon--html {
  background-image: url("../images/icons/html.png");
}

.tagList ul li.icon--js {
  background-image: url("../images/icons/js.png");
}

.tagList ul li.icon--css {
  background-image: url("../images/icons/css.png");
}

.tagList ul li.icon--wp {
  background-image: url("../images/icons/wp.png");
}

.footer {
  width: 100%;
  min-height: 7.5rem;
  background: #E5E5E5;
  text-align: center;
  font-size: 1rem;
  line-height: 1.30062rem;
}

.footer .pageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .pageList a {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 3rem;
}

.footer .footerCaption {
  padding: 0 var(--pagePadding) var(--pagePadding) var(--pagePadding);
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  opacity: 0;
}

.modal-holder {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.modal-holder-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.modal-holder-message {
  --spacer: 2.5rem;
  --closeBtnWH: 3.75rem;
  --closeBtnSpace: 0.3125rem;
  width: calc(100vw - (var(--spacer) * 2));
  height: calc(100vh - (var(--spacer) * 2));
  background-color: white;
  position: absolute;
  top: var(--spacer);
  left: var(--spacer);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal-holder-message-title {
  font-size: var(--pageTitleFS);
  line-height: var(--pageTitleLH);
  margin: var(--gap);
  width: 100%;
  text-align: center;
}

.modal-holder-message-content {
  margin: var(--gap);
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.modal-holder-message-closeBtn {
  position: absolute;
  top: var(--closeBtnSpace);
  right: var(--closeBtnSpace);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: var(--closeBtnWH);
  height: var(--closeBtnWH);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2.5rem;
  font-weight: 900;
  cursor: pointer;
}

.modal-holder-message-closeBtn:hover {
  background-color: black;
}
/*# sourceMappingURL=main.css.map */