:root {
    --headerHeight: #{rem-calc(250)};
    --titleHeight: #{rem-calc(150)};
    --pageTitleFS: #{rem-calc(24)};
    --pageTitleLH: #{rem-calc(30)};
    --pagePadding: #{rem-calc(15)};
    --mainWidth: 100%;
    --leadPostsElementW: 100%;
    --leadPostsElementH: #{rem-calc(100)};
    --gap: #{rem-calc(20)};

    --authorPostsElementW: 100%;
    --authorPostsElementH: #{rem-calc(289)};

    --formBoxW:100%;
    --formBoxH:#{rem-calc(300)};
}
@media only screen and (min-width: $tablet) {
    :root {
        --headerHeight: #{rem-calc(300)};
        --pageTitleFS: #{rem-calc(36)};
        --pageTitleLH: #{rem-calc(45)};
        --authorPostsElementW: #{rem-calc(538)};
        --authorPostsElementH: #{rem-calc(160)};
    }
    .subscrybeForm{
        .formSubmit{
            margin: 0 auto !important;
            padding: 0  !important;
            position: relative  !important;
            top: unset  !important;
            left: unset  !important;
            z-index: unset  !important;
        }
    }
    .formBox{
        width: var(--formBoxW);
        height: var(--headerHeight) !important; 
        background-color: $formBGcolor; 
        position: absolute !important;
        top: 0 !important ;
        left: 0 !important;
        width: 100% !important;
        z-index: 10 !important;        
        form{
            width: 350px !important;
            height: 300px;
            background-color: violet;
            height: var(--headerHeight) !important; 
            float: right;
            margin-right: var(--pagePadding);
        }
    }
}



@media only screen and (min-width: $desktop) {
    :root {
        --headerHeight: #{rem-calc(600)};
        --mainWidth: #{rem-calc(1110)};
        --pagePadding: 0;
        --leadPostsElementW: #{rem-calc(348)};
        --leadPostsElementH: #{rem-calc(198)};
        --gap: #{rem-calc(30)};

        --authorPostsElementW: #{rem-calc(538)};
        --authorPostsElementH: #{rem-calc(160)};
    }
    .leadPosts,
    .authorsList {
        ul {
            li {
                margin-right: var(--gap);
                margin-bottom: 0 !important;
            }
        }
    }
    .formBox{   
        form{            
            margin-right: 20%;
        }
    }
}

//smoother

.--t05 {
    transition: 0.5s;
}

//settings
.--border {
    border: solid 1px $defaultBorderColor;
}

.header {
    width: 100%;
    height: var(--headerHeight);
    background: url("../images/header.jpg") center center;
    background-size: cover;
}
.main {
    padding: 0 var(--pagePadding);
    max-width: var(--mainWidth);
    margin: 0 auto;
}

.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--titleHeight);
    font-size: var(--pageTitleFS);
    font-style: normal;
    font-weight: 700;
    line-height: var(--pageTitleLH);
    letter-spacing: 0em;
    text-align: center;
}

.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--titleHeight);
    font-size: rem-calc(24);
    font-style: normal;
    font-weight: 700;
    line-height: rem-calc(30);
    letter-spacing: 0em;
    text-align: center;
}

.main {
    min-height: 400px;
    background: hotpink;
    .leadPosts {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                display: block;
                width: var(--leadPostsElementW);
                height: var(--leadPostsElementH);
                margin-bottom: var(--gap);                
                &:last-child {
                    margin-right: 0;  
                    margin-bottom: 0;                  
                }
            }
        }
    }
    .authorsList {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            li {
                display: block;
                width: var(--authorPostsElementW);
                height: var(--authorPostsElementH);
                margin-bottom: var(--gap);
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.subscrybeForm{
    .formBox{
        width: var(--formBoxW);
        height: var(--formBoxH); 
        background-color: $formBGcolor; 
        form{
            width: var(--formBoxW);
            height: var(--formBoxH); 
            background-color: violet;
        }
    }
    .formSubmit{
        width: 100%;
        height: 50px;
        background-color: black;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        top: calc(var(--headerHeight) - 50px );
        left: 0;
        z-index: 100;
    }
}

.footer {
    width: 100%;
    height: 120px;
    background: gray;
}
