//fonts set
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{  
    padding: 0;
    margin: 0;
    font-family: $defaultFontFamily;
    font-weight: 300;
    color: $defaultFontColor;
}

//normalyze
ul,ol,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

@for $i from 1 through 6 {
    H#{$i} {
        margin: 0;
        font-weight: 700;
    }
}

//form base set
input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: $formElementHeight;
    font-family: $defaultFontFamily;
    &[type="text"]{
        background: $formFieldBackground;
        border: solid $defaultBorderSize $formFieldBorder;        
        font-weight: 700;
        color: $formFontColor;
        text-transform: uppercase; 
        padding: 0 $formImputPadding;  
        box-shadow: $formBoxShadow;     
    }
    &[type="submit"]{        
        font-weight: 700;
        color: $formFontColor;
        text-transform: uppercase; 
        height: calc(#{$formElementHeight} + (2 * #{$defaultBorderSize})); 
        background-color: $formButtonColor;  
        color: $formButtonFontColor;    
    }
}
button{
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: $defaultFontFamily;
    font-weight: 700;
    text-transform: uppercase; 
    height: calc(#{$formElementHeight} + (2 * #{$defaultBorderSize})); 
    padding: 0 $formImputPadding; 
    cursor: pointer;

    &[type="submit"]{
        background-color: $formButtonColor;  
        color: $formButtonFontColor;  
        &:hover{
            background-color: $formButtonHoverColor;
        }  
    }

}